/*
  this css file for test.html
  date: 2018-04-09
  author: Andy
*/
.content {
  min-height: 1000px;
}

.hoverBaselineTest {
  width: 10em;
  font-size: .14rem;
  margin: 5px auto;
  color: #333333;
  line-height: 2em;
  text-align: center;
}

.progress_bar_text_area {
  width: 100%;
  margin: .2rem 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.input_progress_num {
  width: 1.5rem;
  height: .2rem;
  line-height: .2rem;
  padding-left: .5em;
  color: #333;
  border: 1px solid #999999;
  border-radius: 4px;
  margin: 15px auto;
  display: block;
  /*加上这句之后，input距离顶部的距离就由原来的比较大的值，变成了0*/
}

.input_search_hover {
  width: 100%;
  height: 3rem;
  font-size: .14rem;
  border-bottom: 1px solid #999;
}

.search_input {
  margin-top: .2rem;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 1.6rem;
  height: 2em;
  border: 1px solid #f2f2f2;
  font-size: 14px;
  color: #222;
  line-height: 2em;
  text-indent: 1em;
}

.search_reason {
  display: none;
  margin-top: -1px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 1.6rem;
  border: 1px solid #f2f2f2;
  font-size: 14px;
  color: #222;
  line-height: 1.75em;
  text-indent: 1em;
}

.search_reason p {
  border-bottom: 1px solid #f2f2f2;
}

.search_reason p:last-child {
  border-bottom: none;
}

.hover_bgColor {
  background: #d6d6d6;
}