/*
  this css file for test.html
  date: 2018-04-09
  author: Andy
*/
.content {
  min-height: 1000px;
}

.hoverBaselineTest {
  width: 10em;
  font-size: .14rem;
  margin: 5px auto;
  color: #333333;
  line-height: 2em;
  text-align: center;
}
