/* 字体引入，如果不需要字体引入，屏蔽相关内容 */
/* Din */
@font-face{
	font-family: "DIN";
	src: url('../../common/fonts/Bahnschrift/Bahnschrift.eot');
    src: url('../../common/fonts/Bahnschrift/Bahnschrift.eot?#iefix') format('embedded-opentype'),
         url('../../common/fonts/Bahnschrift/Bahnschrift.woff2') format('woff2'),
         url('../../common/fonts/Bahnschrift/Bahnschrift.woff') format('woff'),
         url('../../common/fonts/Bahnschrift/Bahnschrift.ttf') format('truetype'),
         url('../../common/fonts/Bahnschrift/Bahnschrift.svg#dinregular') format('svg');
}

/* SF-Pro-Text Regular */
@font-face{
	font-family: "SF Pro Text";
	font-style: normal;
	font-weight: 400;
	src: 	url("../../common/fonts/SF-Pro-Text/v1/sf-pro-text_regular.eot");
	src:	url("../../common/fonts/SF-Pro-Text/v1/sf-pro-text_regular.woff") format("woff"), 
			url("../../common/fonts/SF-Pro-Text/v1/sf-pro-text_regular.ttf") format("truetype");

}

/* Product Sans */
@font-face{
	font-family: "Product Sans";
	font-style: normal;
	font-weight: 500;
	src: 	url("../../common/fonts/Product-Sans/Product Sans Regular.eot");
	src:	url("../../common/fonts/Product-Sans/Product Sans Regular.woff") format("woff"), 
			url("../../common/fonts/Product-Sans/Product Sans Regular.ttf") format("truetype");
}


/* 全局设置 
	em 的大小会取决于父类元素, 参考标准为其父元素
	rem 不会受父类元素影响，参考标准为 html根元素
	以下对应参考表
	
	Pixels		    EMs			Percent		Points
	6px			    0.375em		37.5%			5pt
	7px			    0.438em		43.8%			5pt
	8px			    0.5em		50%				6pt
	9px			    0.563em		56.3%			7pt
	10px			0.625em		62.5%			8pt
	11px			0.688em		68.8%			8pt
	12px			0.75em		75%				9pt
	13px			0.813em		81.3%			10pt
	14px			0.875em		87.5%			11pt 
	15px			0.938em		93.8%			12pt
	16px			1em			100%			13pt
	17px			1.063em		106.3%			14pt
	18px			1.125em		112.5%			14pt
	19px			1.188em		118.8%			14pt
	20px			1.25em		125%			15pt
	21px			1.313em		131.3%			16pt 
	22px			1.375em		137.5%			17pt
	23px			1.438em		143.8%			17pt
	24px			1.5em		150%			18pt
	
	示例:
	html { font-size: 62.5%; }  10 ÷ 16 x 100% = 62.5% 
	body { font-size: 1.4rem; } 1.4 x 10px = 14px
	h1 { font-size: 2.4rem; } 2.4 x 10px = 24px
	
	未设置 HTML的font-size为62.5%时转换:
		rem = px / 16;
*/

/*html{
	font-size: 62.5%;
}*/

body{
	font-family: "SF Pro Text","DIN","Arial","微软雅黑";
	font-size:  .16rem;
}

/* 去除移动端元素事件高亮显示*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
	fieldset, input, textarea, p, blockquote, th, td{
		-webkit-tap-highlight-color: transparent;
}

/* 解决手机版输入框边框颜色 */
input{
	border: 0px;
	outline: none;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
	-webkit-appearance: none;
	-webkit-user-select: auto;
}

input::-webkit-input-placeholder { /* WebKit browsers*/
	color:#a4a4a4;
	font-size:.12rem;
}

input:-moz-placeholder {  /* Mozilla Firefox 4 to 18*/
	color:#a4a4a4;
	font-size:.12rem;
}

input::-moz-placeholder {  /* Mozilla Firefox 19+*/
	color:#a4a4a4;
	font-size:.12rem;
}

input:-ms-input-placeholder { /* Internet Explorer 10+*/
	color:#a4a4a4;
	font-size:.12rem;
}

/* 去除浏览器默认的样式 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
	fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset, img {
	border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

caption, th {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before, q:after {
	content: '';
}

abbr, acronym {
	border: 0;
}

/* 消除 user agent stylesheet */
p{
	display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding:0 0;
}

/* 自定义样式 */
.spe-text{
	font-family: "DIN";
}

.spe-text-bold{
	font-family: "DIN";
	font-weight: bold;
}

.spe-text2{
	font-family: "Roboto";
}

.spe-text2-bold{
	font-family: "Roboto";
	font-weight: bold;
}

.spe-text3{
	font-family: "SF Pro Text B";
}

.spe-text3-bold{
	font-family: "SF Pro Text B";
	font-weight: bold;
}

/* Loading  own*/
.loading-mask{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:#ffffff;
}
.loading{
    position:fixed;
    left:35%;
    top:40%;
    padding:2px;
    z-index:20001;
    height:auto;
}
.loading .loading-indicator{
    background:#666;
    position:absolute;
    /*
    opacity: 0.2;
    */
    font:bold 20px tahoma,arial,helvetica;
    padding:10px;
    margin:0;
    height:auto;
    width:100px;
    border-radius:10px;
    text-align: center;
}
.loading-msg {
    font: normal 12px arial,tahoma,sans-serif;
    color: #FFFFFF;
}

/* 加载动画 CSS版本*/
/*	1	*/
.cssload-container {
	width: 100%;
	height: 27px;
	text-align: center;
}

.cssload-speeding-wheel {
	width: 27px;
	height: 27px;
	margin: 0 auto;
	border: 2px solid rgb(78,132,189);
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 1400ms infinite linear;
		-o-animation: cssload-spin 1400ms infinite linear;
		-ms-animation: cssload-spin 1400ms infinite linear;
		-webkit-animation: cssload-spin 1400ms infinite linear;
		-moz-animation: cssload-spin 1400ms infinite linear;
}

@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

/*!*	2	*!*/
/*.loaders-container {*/
 	/*width: 100%;*/
	/*height: 27px;*/
	/*text-align: center;*/

  /*.container {*/
  	/*width: 27px;*/
	/*height: 27px;*/
	/*margin: 0 auto;*/
    /*display: inline-block;*/
    /*box-sizing: border-box;*/
  /*}*/
/*}*/


.circle {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  /* border: 2px solid #FFFFFF; */
  /* border-top-color: #666; */
  /* animation: spin 1s infinite linear; */
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* 3 */

.loader3,
.loader3:before,
.loader3:after {
  border-radius: 50%;
}
.loader3:before,
.loader3:after {
  position: absolute;
  content: '';
}
.loader3:before {
  width: 5.2em;
  height: 10.2em;
  background: #FFFFFF;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader3 {
  font-size: 3px;
  text-indent: -99999em;
  margin: 5em auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #666;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader3:after {
  width: 5.2em;
  height: 10.2em;
  background: #FFFFFF;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* 替换微信加载风格 */
.weui-toast{
	background: #666;
}
.weui-toast .weui-toast__content{
	color: #EEEEEE;
}
/* 标题 */
.weui-dialog__title{
	color: #000000;
}
/* 内容 */
.weui-dialog__bd{
	color: #666;
}

/* 提示框*/
.weui-dialog{
	width: 90%;
	max-width: 100%;
}
.weui-dialog_bd{
	font-size: 14px;
}
.weui-dialog__btn_primary{
	color: #EEEEEE;
}
.weui-dialog__hd{
	border-bottom: 1px solid #E0E0E0;
}
.weui-dialog__bd{
	padding-top: 0.8em;
	text-align: left;
}
.weui-dialog__bd p{
	text-align: left;
}
.weui-dialog__bd .red{
	color: #AE292D;
	text-align: left;
	height: 2.2em;
	line-height: 2.2em;
}
.weui-dialog__ft{
	background-color: #4E8DCC;
	width: 88%;
	border-radius: 0.2em;
	margin: 0 auto;
	margin-bottom: 0.5em;
}
.weui-dialog__ft:after{
	border-top: 0px solid red;
}

/* ActionSheet */
.actionsheet_cancel{
	color: #007aff;
	font-weight: 400;
}


/* alert */
.weui-alert-cancle a:HOVER{
	color: #EEEEEE;
}

/* alert 2 */
.weui-alert2-cancle a:HOVER{
	color: #EEEEEE;
}
.weui-alert2-dialog{
	max-width: 300px;
}
.weui-alert2-dialog .weui-dialog__hd{
	border-bottom: 0px solid red;
}
.weui-alert2-ok{
	background-color: #FFFFFF;
	width: 100%;
	border-top: 1px solid #E0E0E0;
}
.weui-alert2-ok-btn{
	color: #007aff;
	font-weight: 400;
}

/* confirm */
.weui-confirm-dialog{
	max-width: 300px;
}
.weui-confirm-dialog_hd{
	border-bottom: 0px solid red;
}
.weui-confirm-btn{
	background-color: #FFFFFF;
	width: 100%;
	border-top: 1px solid #E0E0E0;
}
.weui-confirm-ok{
	color: #007aff;
	font-weight: 600;
}
.weui-confirm-ok:HOVER{
	color: #007aff;
	text-decoration: none;
}
.weui-confirm-ok:ACTIVE{
	color: #007aff;
	text-decoration: none;
}
.weui-confirm-ok:BEFORE{
	color: #007aff;
	text-decoration: none;
}
.weui-confirm-ok:AFTER{
	color: #007aff;
	text-decoration: none;
}
.weui-confirm-cancel{
	color: #007aff;
	font-weight: 400;
}
.weui-confirm-cancel:HOVER {
	color: #007aff;
	text-decoration: none;
}