html,body {
  background: #fff;
}
/*header style*/
.report_diagnosis {
  box-sizing: border-box;
  overflow: hidden;
  width: 1.6rem;
  height: .3rem;
  line-height: .3rem;
  border: 1px #fff solid;
  background-color: #3388ff;
  border-radius: .05rem;
  margin: .07rem auto;
  font-size: 0;
  color: #fff;
}

.report_diagnosis span {
  display: inline-block;
  font-size: .14rem;
  width: 50%;
  height: 100%;
}

.report_diagnosis_active {
  background-color: #fff;
  color: #3388ff;
}

/*子标题*/
.sub_title {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: .45rem;
  font-size: .15rem;
  color: #333;
  line-height: .45rem;
  text-align: left;
  padding-left: .27rem;
}

.sub_title:before {
  content: "";
  position: absolute;
  left: .15rem;
  top: .15rem;
  background: #3388ff;
  width: .02rem;
  height: .15rem;
}

.sub_title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;/*no*/
  background-color: #d6d6d6;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}


/*总资产样式*/
.asset_sum {
  box-sizing: border-box;
  background: #3388ff;
  width: 3.75rem;
  height: 1.95rem;
  padding-top: .36rem;
}

.asset_sum p:nth-child(1) {
  width: 100%;
  height: 1em;
  line-height: 1em;
  font-size: .13rem;
  color: #fff;
  text-align: center;
}

.asset_sum p:nth-child(2) {
  width: 100%;
  height: 1em;
  line-height: 1em;
  font-size: .3rem;
  color: #fff;
  text-align: center;
  margin-top: .1rem;
}

.chart_box {
  box-sizing: border-box;
  position: relative;
  width: 3.33rem;
  height: 2.58rem;
  margin: -.8rem auto 0;
  background: #fff;
  border: 1px solid #f8f8f8;
  box-shadow:0 0 .08rem 0 rgba(51,136,255,0.15);
  border-radius: .08rem;
  padding-top: .34rem;
}

.chart_box:after {
  position: absolute;
  content: "";
  display: block;
  top: -.15rem;
  left: 1.51rem;
  border-left: .15rem solid transparent;
  border-right: .15rem solid transparent;
  border-bottom: .15rem solid #fff;
}

#pieChart {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.legend_box {
  display: flex;
  height: .5rem;
  width: 3.15rem;
  margin: .36rem auto 0;
}

.legend_box>div {
  position: relative;
  text-align: center;
  width: calc(100%/3);
}

.legend_box>div>p:nth-child(1) {
  font-size: .13rem;
  height: .13rem;
  line-height: .13rem;
  color: #999;
  text-align: left;
  padding-left: .4rem;
}

.legend_box>div>p:nth-child(2) {
  font-size: .14rem;
  color: #666;
  line-height: .2rem;
}

.legend_box>div>p:nth-child(1):before {
  position: absolute;
  content: '';
  display: block;
  width: .13rem;
  height: .13rem;
  border-radius: 50%;
  overflow: hidden;
  left: .2rem;
}

.legend_box>div:nth-child(1)>p:nth-child(1):before {
  background: #f63d44;
}

.legend_box>div:nth-child(2)>p:nth-child(1):before {
  background: #ffa720;
}

.legend_box>div:nth-child(3)>p:nth-child(1):before {
  background: #3388ff;
}

/*账户收益*/
.account_asset {
  margin-top: .05rem;
/*  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #ccc 0%, #ccc 50%, transparent 50%);
  background-size: 8px 1px;
  background-repeat: repeat-x;*/
}

.asset_box {
  box-sizing: border-box;
  display: flex;
  margin: .2rem auto .15rem;
  border: 1px dashed #efefef;
  border-radius: .08rem;
  width: 3.45rem;
  height: .68rem;
}

.asset_box>div:nth-child(1) {
  box-sizing: border-box;
  position: relative;
  width: 1.2rem;
  height: .4rem;
  margin-top: .14rem;
  margin-left: .15rem;
  border-right: 1px dashed #efefef;
}

.asset_box>div:nth-child(1)>p:nth-child(1) {
  font-size: .13rem;
  color: #999;
  height: 1em;
  line-height: 1em;
}

.asset_box>div:nth-child(1)>p:nth-child(2) {
  margin-top: .08rem;
  font-size: .16rem;
  color: #999;
  height: 1em;
  line-height: 1em;
}

.asset_box>div:nth-child(2)>p:nth-child(1) {
  box-sizing: border-box;
  font-size: .14rem;
  color: #666;
  height: .66rem;
  line-height: .66rem;
  padding-left: .15rem;
}

#lineChart {
  width: 100%;
  height: 2.3rem;
}

.chartLegend_one,
.chartLegend_two {
  display: block;
  position: relative;
  height: 1em;
  line-height: 1em;
  font-size: .11rem;
  color: #333;
  padding-left: .18rem;
}
.chartLegend_one:after {
  position: absolute;
  display: block;
  content: "";
  top: 1px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
  background: #3388ff;
}

.chartLegend_two:after {
  position: absolute;
  display: block;
  content: "";
  top: 1px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
  background: #ffa720;
}

.period_time_box {
  display: flex;
  box-sizing: border-box;
  width: 3.35rem;
  height: .28rem;
  margin: .15rem auto .2rem;
  border: 1px solid #efefef;
  border-radius: .04rem;
  font-size: .14rem;
  color: #b4b4b4;
}

.period_time_box p {
  box-sizing: border-box;
  width: 20%;
  text-align: center;
  line-height: .26rem;
  border-right: 1px solid #efefef;
}

.period_time_box p:last-child {
  border: none;
}

.period_time_box .active {
  color: #3388ff;
}