html,body {
    background: #f8f8f8;
}
/*header style*/
.report_diagnosis {
    box-sizing: border-box;
    overflow: hidden;
    width: 1.6rem;
    height: .3rem;
    line-height: .3rem;
    border: 1px #fff solid;
    background-color: #3388ff;
    border-radius: .05rem;
    margin: .07rem auto;
    font-size: 0;
    color: #fff;
}

.report_diagnosis span {
    display: inline-block;
    font-size: .14rem;
    width: 50%;
    height: 100%;
}

.report_diagnosis_active {
    background-color: #fff;
    color: #3388ff;
}

/*子标题*/
.sub_title {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: .45rem;
    font-size: .15rem;
    color: #333;
    line-height: .45rem;
    text-align: left;
    padding-left: .27rem;
}

.sub_title:before {
    content: "";
    position: absolute;
    left: .15rem;
    top: .15rem;
    background: #3388ff;
    width: .02rem;
    height: .15rem;
}

.sub_title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;/*no*/
    background-color: #d6d6d6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

/*诊断结果样式*/
.diagnosis_result_box {
    margin-top: .1rem;
    background: #fff;
    padding-bottom: .2rem;
}

.position_describe {
    box-sizing: border-box;
    width: 100%;
    padding: .15rem 0;
}

.position_describe p {
    position: relative;
    display: block;
    padding-left: .3rem;
    width: 3.3rem;
    font-size: .14rem;
    line-height: .21rem;
    color: #333;
}

.position_describe p:nth-child(n+2) {
    margin-top: .05rem;
}

.position_describe p:before {
    content: "";
    position: absolute;
    top: .07rem;
    left: .15rem;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #d6d6d6;
}

.risk_measurement {
    background: -webkit-linear-gradient(right,   #ffc976 2%, #ffa720 71%);
    background:         linear-gradient(to left, #ffc976 2%, #ffa720 71%); 
    border-radius: .15rem;
    width: 2.3rem;
    height: .3rem;
    margin: .08rem auto 0;
    font-size: .15rem;
    color: #fff;
    text-align: center;
    line-height: .3rem;
}

/*仓位诊断样式*/
.position_diagnosis_box {
    margin-top: .1rem;
    background: #fff;
}

.position_describe_bg {
    position: relative;
    box-sizing: border-box;
    width: 3.45rem;
    margin: .2rem .15rem .3rem;
    background: rgba(108,165,255,0.05);    
    border-radius: .04rem;
    padding: .14rem 0;
}

.position_describe_bg:after {
    position: absolute;
    content: '';
    display: block;
    bottom: -.09rem;
    left: .25rem;
    width: 0;
    height: 0;
    border-left: .1rem solid transparent;
    border-right: .1rem solid transparent;
    border-top: .09rem solid rgba(108,165,255,0.05);
}

.position_describe_bg p {
    position: relative;
    display: block;
    padding-left: .3rem;
    width: 3rem;
    font-size: .13rem;
    line-height: .18rem;
    color: #333;
}

.position_describe_bg p:before {
    content: "";
    position: absolute;
    top: .07rem;
    left: .15rem;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #d6d6d6;
}

.position_describe_bg p:nth-child(n+2) {
    margin-top: .06rem;
}

.position_bar_box {
    margin: 0 auto .2rem;
    width: 3.11rem;
    height: .91rem;
}

.reality_position_box,
.advice_position_box {
    position: relative;
    z-index: 4;
    width: 100%;
    height: .42rem;
}

.reality_position {
    position: relative;
    box-sizing: border-box;
    width: .64rem;
    height: .32rem;
    border: 1px solid #d6d6d6;
    border-radius: .04rem;
    font-size: .12rem;
    color: #333;
    text-align: center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.reality_position:before {
    position: absolute;
    content: '';
    display: block; 
    bottom: -.1rem;
    left: .25rem;
    border-left: .07rem solid transparent;
    border-right: .07rem solid transparent;
    border-top: .1rem solid #d6d6d6;
}

.reality_position:after {
    position: absolute;
    content: '';
    display: block; 
    bottom: -.09rem;
    left: .26rem;
    border-left: .06rem solid transparent;
    border-right: .06rem solid transparent;
    border-top: .09rem solid #fff;
}

.position_bar {
    z-index: 3;
    position: relative;
    height: .07rem;
    width: 3.11rem;
    background: -webkit-linear-gradient(90deg, #18adf2 0%, #fcfe46 48%, #ff0000 100%);
    background:         linear-gradient(90deg, #18adf2 0%, #fcfe46 48%, #ff0000 100%);
    border-radius: .04rem;
}

.position_bar>p:nth-child(1) {
    position: absolute;
    top: .1rem;
    left: 0;
    font-size: .12rem;
    color: #b4b4b4;
    text-align: left;
}

.position_bar>p:nth-child(2) {
    position: absolute;
    top: .1rem;
    right: 0;
    font-size: .12rem;
    color: #b4b4b4;
    text-align: right;
}

.advice_position {
    position: relative;
    box-sizing: border-box;
    margin-top: .1rem;
    width: .64rem;
    height: .32rem;
    border-radius: .04rem;
    background: #fff;
    font-size: .12rem;
    margin-left: 1rem;
    color: #333;
    text-align: center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    box-shadow:0 -2px .15rem 0 rgba(51,136,255,0.34);
}

.advice_position:before {
    position: absolute;
    content: '';
    display: block; 
    top: -.1rem;
    left: .25rem;
    border-left: .07rem solid transparent;
    border-right: .07rem solid transparent;
    border-bottom: .1rem solid #fff;
}

.advice_position>p:nth-child(2) {
    color: #e63838;
}

.single_line {
    width: 3.6rem;
    height: 1px;
    margin-left: .15rem;
    background: #efefef;
}

#pieChart {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.legend_box {
    display: flex;
    height: .5rem;
    width: 3.15rem;
    margin: .34rem .25rem 0 .35rem;
}

.legend_box>div {
    position: relative;
    text-align: center;
    width: calc(100%/3);
}

.legend_box>div>p:nth-child(1) {
    font-size: .13rem;
    height: .13rem;
    line-height: .13rem;
    color: #999;
    text-align: left;
    padding-left: .4rem;
}

.legend_box>div>p:nth-child(2) {
    font-size: .14rem;
    color: #666;
    line-height: .2rem;
}

.legend_box>div>p:nth-child(1):before {
    position: absolute;
    content: '';
    display: block; 
    width: .13rem;
    height: .13rem;
    border-radius: 50%;
    overflow: hidden;
    left: .2rem;
}

.legend_box>div:nth-child(1)>p:nth-child(1):before {
    background: #f63d44;
}

.legend_box>div:nth-child(2)>p:nth-child(1):before {
    background: #ffa720;
}

.legend_box>div:nth-child(3)>p:nth-child(1):before {
    background: #3388ff;
}

/*持仓诊断样式*/
.get_position_diagnosis_box {
    margin-top: .1rem;
    background: #fff;
}

.three_table {
    position: relative;
    display: flex;
    width: 100%;
    height: .45rem;
    font-size: .15rem;
    color: #666;
    line-height: .45rem;
}

.three_table:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;/*no*/
    background-color: #d8d8d8;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.three_table>p:nth-child(1) {
    box-sizing: border-box;
    text-align: left;
    margin-left: .25rem;
    width: calc(100%/3);
}

.three_table>p:nth-child(2) {
    box-sizing: border-box;
    text-align: center;
    width: calc(100%/3);
}

.three_table>p:nth-child(3) {
    box-sizing: border-box;
    text-align: right;
    margin-right: .25rem;
    width: calc(100%/3);
}

.active {
    color: #3388ff;
    transition: .5s color;
}

.baceline {
    position: absolute;
    bottom: 0;
    left: 4%;
    width: .5rem;
    height: .02rem;
    background: #3388ff;
    transition: .5s left;
}


/*股票子项*/
.isFixed {
    position: fixed !important;
    top: 0.44rem;
    left: 0;
    z-index: 999;
}

.stock_table {
    display: block;
    width: 100%;
    margin-top: -0.01rem;
}

.stock_table .table_header_fixed {
    height: 0.4rem;
}

.stock_table .table_header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 0.4rem;
    background: #f8f8f8;
    display: flex;
    align-items: center;
    font-size: 0.14rem;
    color: #999;
}

.stock_table .table_header:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #f0f0f0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.stock_table .table_header:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #f0f0f0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.stock_table .table_header div:nth-child(1) {
    margin-left: 0.15rem;
    width: 0.75rem;
    text-align: left;
}

.stock_table .table_header div:nth-child(2) {
    width: 0.95rem;
    text-align: center;
}

.stock_table .table_header div:nth-child(3) {
    width: 0.9rem;
    text-align: right;
}

.stock_table .table_header div:nth-child(4) {
    margin-left: 0.29rem;
    width: 0.75rem;
    text-align: center;
    box-sizing: border-box;
    padding-right: 0.15rem;
    line-height: 1.25em;
}

.stock_table .table_body {
    width: 100%;
}

.table_body .single_stock_box:last-child:before {
    height: 0!important;
}

.stock_table .table_body .single_stock_box {
    position: relative;
}

.stock_table .table_body .single_stock_box:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #efefef;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.stock_table .table_body .single_stock_box:last-child {
    border-bottom: none;
}

.stock_table .table_body .single_stock {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 0.6rem;
    font-size: 0.15rem;
    padding-left: .15rem;
}

.table_body .single_stock div:nth-child(1) {
    width: 0.75rem;
    text-align: left;
}

.table_body .single_stock div:nth-child(1) p:nth-child(1) {
    color: #333;
    font-weight: bold;
}

.table_body .single_stock div:nth-child(1) p:nth-child(2) {
    font-size: 0.12rem;
    color: #b4b4b4;
    margin-top: 0.05rem;
}

.table_body .single_stock div:nth-child(2) {
    color: #333;
    width: 0.95rem;
    text-align: center;
}

.table_body .single_stock div:nth-child(3) {
    color: #333;
    width: .9rem;
    text-align: right;
}

.table_body .single_stock div:nth-child(4) {
    width: .8rem;
    text-align: right;
    margin-left: 0.2rem;
    box-sizing: border-box;
    padding-right: 0.15rem;
}

.table_body .single_stock div:nth-child(4) div {
    width: 100%;
    height: 100%;
    text-align: right;
}

.switch_button_on {
    position: relative;
    height: 0.3rem;
    width: 0.5rem;
    margin-left: 0.35rem;
    border-radius: 30px;
    background: #01b500;
}

.switch_button_on span {
    position: absolute;
    display: block;
    width: 0.26rem;
    height: 0.26rem;
    border-radius: 26px;
    overflow: hidden;
    background: #ffffff;
    right: 0.02rem;
    top: 0.02rem;
}

.switch_button_off {
    position: relative;
    height: 0.3rem;
    width: 0.5rem;
    margin-left: 0.35rem;
    border-radius: 30px;
    background: #999;
}

.switch_button_off span {
    position: absolute;
    display: block;
    width: 0.26rem;
    height: 0.26rem;
    border-radius: 26px;
    overflow: hidden;
    background: #ffffff;
    left: 0.02rem;
    top: 0.02rem;
}

.change_stock_list {
    position: relative;
    border: 1px solid #efefef;
    border-radius: 4px;
    width: 3.45rem;
    margin-left: 0.15rem;
    box-shadow:0 4px 6px 0 rgba(0,0,0,0.08);
}

.padding_bottom {
    padding-bottom: 0.15rem;
}

.change_stock_list .triangle2 {
    position: absolute;
    top: -0.09rem;
    left: 0.19rem;
    width: 0.14rem;
    height: 0.09rem;
    overflow: hidden;
    z-index: 3;
}

.change_stock_list .triangle2:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid #ffffff;
}

.change_stock_list .triangle {
    position: absolute;
    top: -0.1rem;
    left: 0.18rem;
    width: 0.16rem;
    height: 0.1rem;
    overflow: hidden;
    z-index: 2;
}

.change_stock_list .triangle:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #efefef;
}

.change_stock_list .title_four_tab {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 2.65rem;
    height: 0.3rem;
    margin: 0.18rem auto;
    border-radius: 4px;
    color: #333;
}

.change_stock_list .title_four_tab div {
    box-sizing: border-box;
    width: 25%;
    height: 100%;
    border: 1px solid #efefef;
    font-size: 0.13rem;
    line-height: 0.3rem;
    text-align: center;
    margin-left: -0.01rem;
    position: relative;
    z-index: 1;
}

.change_stock_list .title_four_tab div:nth-child(1) {
    border-bottom-left-radius: 0.04rem;
    border-top-left-radius: 0.04rem;
    margin-left: 0;
}

.change_stock_list .title_four_tab div:nth-child(4) {
    border-bottom-right-radius: 0.04rem;
    border-top-right-radius: 0.04rem;
}

.change_stock_list .title_four_tab .active {
    background: #79b1ff;
    color: #fff;
    border: 1px solid #79b1ff;
    position: relative;
    z-index: 3;
}

.change_stock_list .change_stock_table {
    width: 100%;
}

.change_stock_table .change_stock_table_header {
    width: 100%;
    height: 0.3rem;
    background: #f8f8f8;
    display: flex;
    align-items: center;
}

.change_stock_list .change_stock_table .change_stock_table_header div {
    font-size: 0.13rem;
    color: #999;
}

.change_stock_table .change_stock_table_header div:nth-child(1) {
    margin-left: 0.15rem;
    width: 0.65rem;
    text-align: left;
}

.change_stock_table .change_stock_table_header div:nth-child(2) {
    width: 1.6rem;
    text-align: center;
}

.change_stock_table .change_stock_table_header div:nth-child(3) {
    width: 1.05rem;
    text-align: center;
}

.change_stock_table .no_same_stock {
    width: 100%;
    height: 1rem;
    font-size: 0.14rem;
    color: #333;
    text-align: center;
    line-height: 1rem;
    font-weight: normal;
}

.change_stock_table .change_stock_table_body {
    width: 100%;
}

.change_stock_table_body .change_stock_table_single {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 0.5rem;
}

.change_stock_table_body .change_stock_table_single:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.01rem;
    background-color: #f0f0f0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.change_stock_table_body .change_stock_table_single div:nth-child(1) {
    margin-left: 0.15rem;
    width: 0.65rem;
    text-align: left;
}

.change_stock_table_body .change_stock_table_single div:nth-child(1) p:nth-child(1) {
    font-size: 0.14rem;
    color: #3388ff;
}

.change_stock_table_body .change_stock_table_single div:nth-child(1) p:nth-child(2) {
    font-size: 0.12rem;
    color: #999;
    margin-top: 0.06rem;
}

.change_stock_table_body .change_stock_table_single div:nth-child(2) {
    width: 1.6rem;
    text-align: center;
    color: #e63838;
    font-size: 0.16rem;
}

.change_stock_table_body .change_stock_table_single div:nth-child(3) {
    width: 1.05rem;
    text-align: center;
    font-size: .13rem;
    color: #ffa720;
}

.change_stock_table_body .change_stock_table_single:last-child {
    border: none;
}

/*基金子项*/
.fund_box {
    display: none;
}

.self_fund_box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 0 .15rem;
}

.self_fund_box:after {
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d6d6d6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.single_fund_box {
    position: relative;
    width: 3.45rem;
    height: 1.02rem;
}

.single_fund_box:after {
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #efefef;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.single_fund_box .fund_name {
    width: 100%;
    height: .5rem;
    font-size: 0;
}

.single_fund_box .fund_name span:nth-child(1) {
    font-size: .15rem;
    color: #333;
    line-height: .45rem;
    font-weight: bolder;
}

.single_fund_box .fund_name span:nth-child(2) {
    font-size: .12rem;
    color: #999;
    margin-left: .11rem;
    line-height: .45rem;
}

.single_fund_box .fund_info {
    display: flex;
}

.fund_info_left,
.fund_info_right {
    flex: auto;
}

.fund_info_left {
    text-align: left;
}

.fund_info_right {
    text-align: right;
}

.fund_info_left>p:nth-child(1),
.fund_info_right>p:nth-child(1) {
    font-size: .12rem;
    color: #b4b4b4;
    line-height: 1em;
}

.fund_info_left>p:nth-child(2),
.fund_info_right>p:nth-child(2) {
    font-size: .15rem;
    color: #333;
    line-height: 1em;
    margin-top: .1rem;
}

.recommend_box {
    box-sizing: border-box;
    width: 100%;
}

.recommend_name {
    background: #f7faff;
    border-radius: .08rem;
    width: 3.15rem;
    height: .35rem;
    margin: 0 auto;
    font-size: .18rem;
    color: #333;
    text-align: center;
    line-height: .35rem;
}

.recommend_time {
    margin-left: .3rem;
    height: 1em;
    line-height: 1em;
    font-size: .13rem;
    color: #999;
    text-align: left;
    margin-top: .1rem;
}

.hot_sale_box {
    padding-top: .2rem;
}

.title_two_tab {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 2.65rem;
    height: 0.3rem;
    margin: 0 auto;
    border-radius: 4px;
    color: #333;
    margin-bottom: .2rem;
}

.title_two_tab div {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    border: 1px solid #efefef;
    font-size: 0.13rem;
    line-height: 0.3rem;
    text-align: center;
    margin-left: -0.01rem;
    position: relative;
    z-index: 1;
}

.title_two_tab div:nth-child(1) {
    border-bottom-left-radius: 0.04rem;
    border-top-left-radius: 0.04rem;
    margin-left: 0;
}

.title_two_tab div:nth-child(2) {
    border-bottom-right-radius: 0.04rem;
    border-top-right-radius: 0.04rem;
}

.title_two_tab .active {
    background: #79b1ff;
    color: #fff;
    border: 1px solid #79b1ff;
    position: relative;
    z-index: 3;
}

.fund_hot_sale {
    width: 100%;
}

.hot_sale_header {
    display: flex;
    background: #f8f8f8;
    width: 3.75rem;
    height: .4rem;
    font-size: .14rem;
    color: #999;
    line-height: .4rem;
}

.hot_sale_header>p:nth-child(1){
    margin-left: .15rem;
    width: .95rem;
    text-align: left;
}

.hot_sale_header>p:nth-child(2){
    width: .87rem;
    text-align: center;
}

.hot_sale_header>p:nth-child(3){
    width: .87rem;
    text-align: center;
}

.hot_sale_header>p:nth-child(4){
    width: .76rem;
    text-align: right;
}

.single_fund {
    position: relative;
    display: flex;
    width: 100%;
    height: .6rem;
    font-size: .15rem;
    color: #333;
    align-items: center;
}

.single_fund:after {
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #efefef;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.single_fund>p:nth-child(1){
    margin-left: .15rem;
    width: .95rem;
    text-align: left;
    color: #2864c8;
}

.single_fund>p:nth-child(2){
    width: .87rem;
    text-align: center;
}

.single_fund>p:nth-child(3){
    width: .87rem;
    text-align: center;
}

.single_fund>p:nth-child(4){
    width: .76rem;
    text-align: right;
}

.manage_hot_sale {
    display: none;
}

/*信用子项*/
.credit_box {
    display: none;
    width: 3.45rem;
    margin: 0 .15rem;
}

/*持股风格样式*/
.holding_style_box {
    margin-top: .1rem;
    background: #fff;
}

.holding_style_box>.sub_content {
    width: 100%;
    height: 1.86rem;
}

.big_market_box,
.middle_market_box,
.small_market_box {
    position: relative;
    display: flex;
    width: 3.19rem;
    height: .14rem;
    margin-left: .28rem;
}

.big_market_box {
    margin-top: .16rem;
}

.middle_market_box {
    margin-top: .4rem;
}

.small_market_box {
    margin-top: .4rem;
}

.big_market_box:before,
.middle_market_box:before,
.small_market_box:before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    font-size: .14rem;
    color: #333;
    text-align: left;
    line-height: .14rem;
    z-index: 1;
}

.big_market_box:after,
.middle_market_box:after,
.small_market_box:after {
    position: absolute;
    display: block;
    content: "";
    width: 2.7rem;
    height: 1px;
    background-color: #efefef;
    top: .07rem;
    right: 0;
    z-index: 1;
}

.big_market_box:before {
    content: "大盘";
}

.middle_market_box:before {
    content: "中盘";
}

.small_market_box:before {
    content: "小盘";
}

.big_market_box>.num,
.middle_market_box>.num,
.small_market_box>.num {
    border-radius: .05rem;
    width: .3rem;
    height: .14rem;
    font-size: .13rem;
    color: #fff;
    line-height: .15rem;
    text-align: center;
    position: relative;
    z-index: 2;
}

.big_market_box>.num {
    background: #e63838;
}

.middle_market_box>.num {
    background: #ffa720;
}

.small_market_box>.num {
    background: #3388ff;
}

.big_market_box>.num:nth-child(1),
.middle_market_box>.num:nth-child(1),
.small_market_box>.num:nth-child(1) {
    margin-left: .8rem;
}

.big_market_box>.num:nth-child(2),
.middle_market_box>.num:nth-child(2),
.small_market_box>.num:nth-child(2) {
    margin-left: .59rem;
}

.big_market_box>.num:nth-child(3),
.middle_market_box>.num:nth-child(3),
.small_market_box>.num:nth-child(3) {
    margin-left: .59rem;
}

.style_name_box {
    width: 100%;
    display: flex;
}

.style_name_box > div {
    position: relative;
    border: 1px solid #d4d4d4;
    border-radius: .05rem;
    width: .4rem;
    height: .15rem;
    font-size: .14rem;
    color: #333;
    text-align: center;
    line-height: .15rem;
    margin-top: .3rem;
}

.style_name_box > div:before {
    position: absolute;
    content: '';
    display: block; 
    top: -.07rem;
    left: .14rem;
    border-left: .06rem solid transparent;
    border-right: .06rem solid transparent;
    border-bottom: .07rem solid #d4d4d4;
}

.style_name_box > div:after {
    position: absolute;
    content: '';
    display: block; 
    top: -.06rem;
    left: .15rem;
    border-left: .05rem solid transparent;
    border-right: .05rem solid transparent;
    border-bottom: .06rem solid #fff;
}

.style_name_box > div:nth-child(1) {
    margin-left: 1.02rem;
}

.style_name_box > div:nth-child(2) {
    margin-left: .47rem;
}

.style_name_box > div:nth-child(3) {
    margin-left: .47rem;
}

.disclaimer p:nth-child(1){
    width: 100%;
    font-size: .14rem;
    color: #b4b4b4;
    text-align: center;
    line-height: .44rem;
}

.disclaimer p:nth-child(2){
    width: 100%;
    font-size: .13rem;
    color: #b4b4b4;
    text-align: center;
    line-height: .2rem;
    width: 3.45rem;
    margin: 0 auto .2rem;
    text-align: justify;
}