<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>example</title>
  <meta name="renderer" content="webkit" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no"/>
  <link rel="stylesheet" href="../common/css/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="../css/hhui.css" />
  <link rel="stylesheet" href="../css/swipeCell.css" />
</head>
<script src="../js/resize.js"></script>
<body>
  <div class="header">
    <div class="header_box">
      <div class="back"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
      <div class="title">消息列表</div>
    </div>
  </div>
  <div class="main">
    <div class="info_list">
      <div class="single_info_box">
        <div class="single_info borBot">陈独秀同志你坐下</div>
        <div class="delete_btn">删 除</div>
      </div>
      <div class="single_info_box">
        <div class="single_info borBot">陈独秀同志你坐下</div>
        <div class="delete_btn">删 除</div>
      </div>
      <div class="single_info_box">
        <div class="single_info borBot">陈独秀同志你坐下</div>
        <div class="delete_btn">删 除</div>
      </div>
      <div class="single_info_box">
        <div class="single_info borBot">陈独秀同志你坐下</div>
        <div class="delete_btn">删 除</div>
      </div>
      <div class="single_info_box">
        <div class="single_info borBot">陈独秀同志你坐下</div>
        <div class="delete_btn">删 除</div>
      </div>
      <div class="single_info_box">
        <div class="single_info borBot">陈独秀同志你坐下</div>
        <div class="delete_btn">删 除</div>
      </div>
      <div class="single_info_box">
        <div class="single_info borBot">陈独秀同志你坐下</div>
        <div class="delete_btn">删 除</div>
      </div>
      <div class="single_info_box">
        <div class="single_info borBot">陈独秀同志你坐下</div>
        <div class="delete_btn">删 除</div>
      </div>
      <div class="single_info_box">
        <div class="single_info borBot">陈独秀同志你坐下</div>
        <div class="delete_btn">删 除</div>
      </div>
      <div class="single_info_box">
        <div class="single_info borBot">陈独秀同志你坐下</div>
        <div class="delete_btn">删 除</div>
      </div>
      <div class="single_info_box">
        <div class="single_info borBot">陈独秀同志你坐下</div>
        <div class="delete_btn">删 除</div>
      </div>
      <div class="single_info_box">
        <div class="single_info borBot">陈独秀同志你坐下</div>
        <div class="delete_btn">删 除</div>
      </div>
      <div class="single_info_box">
        <div class="single_info borBot">陈独秀同志你坐下</div>
        <div class="delete_btn">删 除</div>
      </div>
      <div class="single_info_box">
        <div class="single_info borBot">陈独秀同志你坐下</div>
        <div class="delete_btn">删 除</div>
      </div>
    </div>
    <div class="pull_refresh_update_time">数据更新时间：2018-01-01</div>
  </div>
</body>
<script src="../common/js/jquery-3.2.1.min.js"></script>
<script src="../js/hhui.js"></script>
<script src="../js/swipeCell.js"></script>
</html>
